{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify bootstrapped_goodies_tags %}
{% load url from future %}
{% load admin_urls %}
{% load dajaxice_templatetags %}
{% load crispy_forms_tags %}

{% block extrahead %}{{ block.super }}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
    {% dajaxice_js_import %}
    <script type="text/javascript" src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <ul class="breadcrumb">
            <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
            <!--<li><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a> <span class="divider">/</span></li>-->
            <li>{% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">
                {{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
                <span class="divider">/</span></li>
            <li>{% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}
                {{ original|truncatewords:"18" }}{% endif %}</li>
        </ul>
    {% endblock %}
{% endif %}

{% block object-tools %}
    {% if change %}{% if not is_popup %}
        <div class="pull-right">
            {% block object-tools-items %}
                <a href="history/" class="btn btn-inverse historylink">{% trans "History" %}</a>
                {% if has_absolute_url %}
                    <a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="btn viewsitelink">
                        {% trans "View on site" %}</a>{% endif %}
            {% endblock %}
        </div>
    {% endif %}{% endif %}
{% endblock %}

{% block content %}

    {% with app_name=opts.module_name|lower|slugify %}
        {% render_with_template_if_exist opts.app_label|lower|add:"/admin_app_"|add:app_name|add:"_change_form.html" "" %}
    {% endwith %}


    <form class="form-horizontal"
          {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
          id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
        <div class="alert alert-warning">{% blocktrans %}Fields in <strong>bold</strong> are
            required.{% endblocktrans %}</div>
        {% if errors %}
            <div class="alert alert-error">
                {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct
                    the errors below.{% endblocktrans %}
                {{ adminform.form.non_field_errors }}
            </div>
        {% endif %}
        <div class="row-fluid">
            {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
        </div>
        <div class="row-fluid">
            <div id="content-main" class="span12">
                <div>
                    {% if is_popup %}<input type="hidden" name="_popup" value="1"/>{% endif %}

                    {% block field_sets %}
                        {% for fieldset in adminform %}
                            {% include "admin/includes/fieldset.html" %}
                            <div id="blockparams"></div>
                        {% endfor %}
                    {% endblock %}

                    {% block after_field_sets %}{% endblock %}

                    {% block inline_field_sets %}
                        {% for inline_admin_formset in inline_admin_formsets %}
                            {% include inline_admin_formset.opts.template %}
                        {% endfor %}
                    {% endblock %}

                    {% block after_related_objects %}{% endblock %}

                    {% if adminform and add %}
                        <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
                    {% endif %}

                    {# JavaScript for prepopulated fields #}
                    {% prepopulated_fields_js %}

                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="form-actions">
                {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
            </div>
        </div>
    </form>
    <script>
        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        //append some data for parameters on form submission
        $('#block_form').submit(function () {
            var allVal = JSON.stringify($('fieldset#fparam input').serializeObject());
            var data = $("<input>").attr("type", "hidden").attr("name", "paramdata").val(allVal);
            $('#block_form').append($(data));
            return true;
        });
    </script>
{% endblock %}
