<ul class="nav" role="navigation">
    <li class="acitve"><a href="#">Home</a></li>
    <li><a href="/beers/">Beers</a></li>
    <li><a href="/wines/">Wines</a></li>
    <li><a href="/cart/">Shopping Cart</a></li>
</ul>