{% extends "rbase.html" %}
{% load static %}

{% block extra_head %}
    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 40px;
        }
    </style>
{% endblock %}

{% block body_class %}Home{% endblock %}



{% block body %}
    {% block content %}
		<h1 class="ui-widget-header">Home</h1>	
		<div id="catalog">
			<div>
				<ul>
					<li>
						<table class="image">
						<caption align="bottom">BEER</caption>
						<tr><td>
							<a href="javascript:void(0)"><img src="{{ STATIC_URL }}static/img/beer.jpg"
							alt="Beer1" 
							width="288" height="212" border="0" /></a>
						</td></tr>
						</table>
					</li>
					<li>
						<table class="image">
						<caption align="bottom">WINE</caption>
						<tr><td>
							<a href="javascript:void(0)"><img src="{{ STATIC_URL }}static/img/beer.jpg"
							alt="Beer1" 
							width="288" height="212" border="0" /></a>
						</td></tr>
						</table>
					</li>
				</ul>
			</div>
		</div>
        <div class="row-fluid">
            <div id="content" class="span12>"></div>
        </div>
    {% endblock %}
{% endblock %}
