{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list bootstrapped_goodies_tags %}
{% load url from future %}
{% load admin_urls %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
   
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
<script src="/site_media/static/vendor/spin.min.js"></script>
<script src="/site_media/static/js/bootstrap-ajax.js"></script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}_change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
<!--<li><a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{% render_with_template_if_exist app_label|lower|add:"/admin_app_name.html" app_label %}</a> <span class="divider">/</span></li>-->
<li><a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{  app_label|title }}</a> <span class="divider">/</span></li>
<li>{{ cl.opts.verbose_name_plural|capfirst }}</li>
</ul>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block object-tools %}
    {% block search %}{% search_form cl %}{% endblock %}

    {% if has_add_permission %}
    <div class="pull-right">
      {% block object-tools-items %}
          <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="btn addlink">
            <i class="icon-plus"></i> {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
          </a>
      {% endblock %}
    </div>
    {% endif %}
{% endblock %}

{% block content %}
<form class="ajax" id="changelist-form" data-method="post"  data-refresh=".results-list" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}

{% if cl.formset.errors %}
<div class="row-fluid">
    <div class="alert alert-error">
        <p class="errornote">
            {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ cl.formset.non_form_errors }}
    </div>
</div>
{% endif %}

<div class="row-fluid">

    {% with app_name=cl.opts.module_name|lower|slugify %}
        {% render_with_template_if_exist cl.opts.app_label|lower|add:"/admin_app_"|add:app_name|add:"_description.html" "" %}
    {% endwith %}

    {% if cl.has_filters %}
    <div class="span3" id="_changelist-filter">
        <div class="well well-small">
            <strong>{% trans 'Filter' %}</strong>
            <hr style="margin-top:5px">
            {% for spec in cl.filter_specs %}
                {% admin_list_filter cl spec %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="{% if cl.has_filters %}span9{% else %}span12{% endif %}">
        <div class="row-fluid">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="navbar-form">
                    {% if action_form and actions_on_top and cl.full_result_count %}
                        {% admin_actions %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div id="content-main" class="row-fluid">
            <div class="module{% if cl.has_filters %} filtered{% endif %}" id="_changelist">
                {% block date_hierarchy %}
                    {% date_hierarchy cl %}
                {% endblock %}

                {% if cl.formset %}
                    <div>{{ cl.formset.management_form }}</div>
                {% endif %}

                {% block result_list %}
                    {% result_list cl %}
                    {% if action_form and actions_on_bottom and cl.full_result_count %}
                        {% admin_actions %}
                    {% endif %}
                {% endblock %}
            </div>
        </div>
        {% if cl.formset and cl.result_count %}
        <div class="row-fluid">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="pull-right">
                        <input type="submit" name="_save" class="btn btn-primary default" value="{% trans 'Save' %}"/>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% block pagination %}
    {% pagination cl %}
{% endblock %}
</form>
{% endblock %}


