{% extends "rbase.html" %}
{% load static %}
{% load bootstrap_pagination %}

{% block extra_head %}
    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 40px;
        }
    </style>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <style>
			.breadcrumb li a:after { 
			content: " "; 
			display: block; 
			width: 0; 
			height: 0;
			border-top: 50px solid transparent;
			border-bottom: 50px solid transparent;
			border-left: 30px solid hsla(34,85%,35%,1);
			position: absolute;
			top: 50%;
			margin-top: -50px; 
			left: 100%;
			z-index: 2; 
		}
    </style>  
        <script src="{% static "js/simpleCart.min.js" %}"></script>
<script>
  simpleCart({
    // array representing the format and columns of the cart,
    // see the cart columns documentation
    cartColumns: [
        { attr: "name", label: "Name"},
        { view: "currency", attr: "price", label: "Price"},
        { view: "decrement", label: false},
        { attr: "quantity", label: "Qty"},
        { view: "increment", label: false},
        { view: "currency", attr: "total", label: "SubTotal" },
        { view: "remove", text: "Remove", label: false}
    ],

    // "div" or "table" - builds the cart as a 
    // table or collection of divs
    cartStyle: "table", 

    // how simpleCart should checkout, see the 
    // checkout reference for more info 
    checkout: { 
        type: "PayPal" , 
        email: "you@yours.com" 
    },

    // set the currency, see the currency 
    // reference for more info
    currency: "USD",

    // collection of arbitrary data you may want to store 
    // with the cart, such as customer info
    data: {},

    // set the cart langauge 
    // (may be used for checkout)
    language: "english-us",

    // array of item fields that will not be 
    // sent to checkout
    excludeFromCheckout: [],

    // custom function to add shipping cost
    shippingCustom: null,

    // flat rate shipping option
    shippingFlatRate: 0,

    // added shipping based on this value 
    // multiplied by the cart quantity
    shippingQuantityRate: 0,

    // added shipping based on this value 
    // multiplied by the cart subtotal
    shippingTotalRate: 0,

    // tax rate applied to cart subtotal
    taxRate: 0,

    // true if tax should be applied to shipping
    taxShipping: false,

    // event callbacks 
    beforeAdd           : null,
    afterAdd            : null,
    load                : null,
    beforeSave      : null,
    afterSave           : null,
    update          : null,
    ready           : null,
    checkoutSuccess : null,
    checkoutFail        : null,
    beforeCheckout      : null,
        beforeRemove           : null
});
</script>
{% endblock %}


{% block body_class %}Beers{% endblock %}

{% block body %}
	<ul class="breadcrumb">
        <li><a href='{% url beer_home %}'>Beer Categories </a><span class="divider">/</span></li>
        <li><a href='javascript: history.go(-1)'>Beer Styles </a><span class="divider">/</span></li>
        <li class="active">Beer List</li>
	</ul>
    {% block content %}
        <div class="row">
            <div id="products" class="span10">
                {% if object_list %}
                        <ul id="catalog" class="thumbnails">
                            {% for beer in object_list %}
                            <div class="simpleCart_shelfItem">
                                {% if beer %}
                                <li id="catalogid" val="{{ beer.slug }}" class="span3">
                                    <a href="{{ beer.slug }}/" class="thumbnail plain" style="text-align: center;">
                                        <img src="{{ MEDIA_URL }}{{ beer.picture }}" height="150" width="125"
                                             alt="" class="hoverZoomLink item_thumb">
                                        <h5 class="item_name">{{ beer.name }}</h5>         
                                        ABV: {{ beer.abv }}, Onstock: {{ beer.onstock}}<br>
                                        <i class="icon-globe"></i> {{ beer.brewery }}<br>
                                                                       
                                    </a>
                                     <span align="center" class="item_price">Price: ${{ beer.price }}</span> 
                                    <span align="center">QTY: <input style="text-align: right; width: 20px;" type="text" value="1" class="item_Quantity"></span>                              
                                    <button type="button" onclick="javascript:;" class="btn btn-mini btn-primary item_add">Order</button>
                                </li>
                                {% endif %}
                            </div>
                            {% endfor %}
                            
                        </ul>
                                            <a href="javascript: history.go(-1)" style="float: left" class="btn">Back</a>

                            {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}
                {% else %}
                    <p>No beers are available.</p>
                    <a href="javascript: history.go(-1)" class="btn">Back</a>
                {% endif %}
            </div>
            <div class="span2">{% include "cart.html" %}</div>
        </div>
    {% endblock %}


   
{% endblock %}
