    {% extends "rbase.html" %}

{% block extra_head %}
    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 40px;
        }
    </style>
    <style>
			.breadcrumb li a:after { 
			content: " "; 
			display: block; 
			width: 0; 
			height: 0;
			border-top: 50px solid transparent;
			border-bottom: 50px solid transparent;
			border-left: 30px solid hsla(34,85%,35%,1);
			position: absolute;
			top: 50%;
			margin-top: -50px; 
			left: 100%;
			z-index: 2; 
		}
    </style> 
{% endblock %}


{% block body_class %}Beer Details{% endblock %}

{% block body %}
	<ul class="breadcrumb">
	    <li><a href='{% url beer_home %}'>Beer Categories </a><span class="divider">/</span></li>
        <li><a href='javascript: history.go(-2)'>Beer Styles </a><span class="divider">/</span></li>
        <li><a href='javascript: history.go(-1)'>Beer List </a><span class="divider">/</span></li>
		<li class="active">Beer Details</li>
	</ul>
    {% block content %}
        <div class="row-fluid">
            <div id="content" class="span12">
                {% if beer %}
                    <div>

                        <form class="form-horizontal span12">
                            <fieldset>
                                <legend>Beer Details</legend>
                                <br>

                                <div class="row">
                                    <div class="span8">
                                        <div class="control-group">
                                            <label for="name" class="control-label">Name:</label>

                                            <div class="controls">
                                                <input type="text" id="name" name="name" value="{{ beer.name }}">
                                                <span class="help-inline"></span>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label for="brewery" class="control-label">Brewery:</label>

                                            <div class="controls">
                                                <input type="text" id="brewery" name="brewery" value="{{ beer.brewery }}">
                                                <span class="help-inline"></span>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label for="style" class="control-label">Style:</label>

                                            <div class="controls">
                                                <input type="text" id="style" name="style"
                                                       value="{{ beer.style }}">
                                                <span class="help-inline"></span>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label for="abv" class="control-label">ABV:</label>

                                            <div class="controls">
                                                <input type="text" id="abv" name="abv" value="{{ beer.abv }}">
                                            </div>
                                        </div> 

                                        <div class="control-group">
                                            <label for="onstock" class="control-label">onstock:</label>

                                            <div class="controls">
                                                <input type="text" id="onstock" name="onstock" value="{{ beer.onstock }}">
                                            </div>
                                        </div>                          

                                        <div class="control-group">
                                            <label for="description" class="control-label">Notes:</label>

                                            <div class="controls">
                                                <textarea id="description" name="description" style="width: 90%;"
                                                          rows="6">{{ beer.description }}</textarea>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="span4">
                                        <div class="well"
                                             style="width: 180px;text-align: center;width:50%;margin: 0px auto;">
                                            <p><img id="picture" width="180"
                                                    src="../../../site_media/media/{{ beer.picture }}"></p>

                                            <p style="color:#999;">To change the picture, drag a new picture from your
                                                file system onto the box above.</p>
                                        </div>
                                    </div>

                                </div>

                            </fieldset>

                            <div class="form-actions">
                                 <button type="button" onclick="javascript:;" class="btn btn-primary item_add">Order</button>
                                <a href="javascript: history.go(-1)" class="btn">Back</a>
                            </div>

                        </form>
                    </div>
                {% else %}
                    <p>No data available.</p>
                {% endif %}
            </div>
        </div>
    {% endblock %}
{% endblock %}
