{% extends "rbase.html" %}
{% load static %}
<style src="{% static "css/breadcrumbs.css" %}"></style> 
{% block extra_head %}
    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 40px;
        }
    </style>
    <script src="{% static "js/jquery.min.js" %}"></script> 
    <style>
			.breadcrumb li a:after { 
			content: " "; 
			display: block; 
			width: 0; 
			height: 0;
			border-top: 50px solid transparent;
			border-bottom: 50px solid transparent;
			border-left: 30px solid hsla(34,85%,35%,1);
			position: absolute;
			top: 50%;
			margin-top: -50px; 
			left: 100%;
			z-index: 2; 
		}
    </style>
{% endblock %}

{% block body_class %}Beers{% endblock %}

{% block body %}  
	<ul class="breadcrumb">
		<li class="active">Beer Categories</li>
	</ul>
    {% block content %}
        {% if beer_categories %}
            <div>
                <ul id="categories" class="thumbnails">
                    {% for category in beer_categories %}
                        <li id="catid" val="{{ category.id }}" class="span6">
                            <a href="{{ category.slug }}/" class="thumbnail plain" style="text-align: center;">
                                {{ category.name }}
                            </a>                            
                        </li>
                    {% endfor %}
                </ul>                          
            </div>
        {% else %}
            <p>No Categories are available.</p>
        {% endif %}
    {% endblock %}
{% endblock %}
