{% extends "rbase.html" %}
{% load static %}

{% block extra_head %}
    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 40px;
        }
    </style>
    <script src="{% static "js/jquery.min.js" %}"></script>   
    <style>
			.breadcrumb li a:after { 
			content: " "; 
			display: block; 
			width: 0; 
			height: 0;
			border-top: 50px solid transparent;
			border-bottom: 50px solid transparent;
			border-left: 30px solid hsla(34,85%,35%,1);
			position: absolute;
			top: 50%;
			margin-top: -50px; 
			left: 100%;
			z-index: 2; 
		}
    </style>    
{% endblock %}

{% block body_class %}Beers{% endblock %}

{% block body %}
	<ul class="breadcrumb">
		<li><a href='{% url beer_home %}'>Beer Categories</a><span class="divider">/</span></li>
		<li class="active">Beer Styles</li>
	</ul>
    {% block content %}
        {% if object_list %}
            <div>
                <ul id="styles" class="thumbnails">
                    {% for style in object_list %}
                        <li id="styleid" val="{{ style.id }}" class="span6">
                            <a href="{{ style.slug }}/" class="thumbnail plain" style="text-align: center;">
                                {{ style.name }}
                            </a>                            
                        </li>
                    {% endfor %}
                </ul>                          
            </div>
        {% else %}
            <p>No Styles are available.</p>
        {% endif %}
        <a href="javascript: history.go(-1)" class="btn">Back</a>
    {% endblock %}
{% endblock %}
