{% load account_tags %}
<ul class="nav" role="navigation">
    {% if request.user.is_authenticated %}

        <li><a tabindex="-1" class="menu_home" rel="external" href="/">Home</a></li>
        <li><a class="menu_data" href="/data/">Datasets</a></li>
        <li><a class="menu_result" href="/results/">Results</a></li>
        <li><a rel="external" class="menu_documentation" href="/admin/doc/">Documentation</a></li>
        <li><a class="menu_about" href="/about/">About Avalanche</a></li>

    {% endif %}
    <li class="dropdown pull-right">
        <ul class="dropdown-menu">
            <li><a class="menu_examples" href="/restaurant/">Example Site</a></li>
        </ul>
    </li>
</ul>