{% extends "site_base.html" %}
{% load account_tags %}
{% load i18n %}
{% block head_title %}{% trans "About" %}{% endblock %}

{% block extra_head %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/editor.css"/>

    <style type="text/css">
        body {
            padding-top: 10px;
            padding-bottom: 40px;
            background: transparent url({{ STATIC_URL }}img/background.png);
        }

        .row-fluid {
            margin-left: -10px;
        }

        .sidebar-nav {
            padding: 2px 0;
        }
    </style>
{% endblock %}

{% block body_class %}about{% endblock %}

{% block body %}

    {% block content %}
        {% if user.is_authenticated %}
            <div class="hero-unit">
                <h1> About Avalanche:</h1>

                <p class="lead">
                    Avalanche aims to be a fully-featured data mining analytics framework with an added emphasis on
                    visual components and presentation. It will provide a pluggable statistic environment that allows
                    for simple integration of scalable analytic components (or rules), which can then be applied to
                    facts or aggregated data. This analytical data can then be used in a wide array of visual components
                    that are integrated in the system, such as interactive graphs, tables, charts, etc.
                </p>

                <p>
                    The framework will be implemented as a cloud service that can be accessed through an API or through
                    a user interface, similar to Salesforce.com. This way users can programmatically work with their
                    data or simply use our intuitive user interface. Regardless of the developers preference, achieving
                    flexibility through simplicity will be our primary design goal. We want this system to be suitable
                    for any type of data that can be analytically/statistically analyzed.
                </p>

                <h3>Features</h3>

                <p>
                </p>
                <ul>
                    <li>Pluggable analytic rules</li>
                    <li>Visual presentation modules (graphs, tables, forms, etc.)</li>
                    <li>Data aggregations (e.g., average orders per day)</li>
                    <li>Data clustering / classifications</li>
                    <li>Association learning</li>
                    <li>Rich graphing modules (using pluggable graphing libraries, d3.js)</li>
                    <li>Predictions and estimates (using statistical analysis)</li>
                    <li>Trend / Pattern recognition</li>
                    <li>Queryable statistics (allow for queryable database)</li>
                </ul>
                <p></p>


                <h3>Technology Used</h3>

                <p>
                </p>
                <ul>
                    <li>Django - python based website framework</li>
                    <li>Jquery - javascript ajax support</li>
                    <li>Twitter Bootstrap Framework - simple css/js framework</li>
                    <li>TastyPie - JSON based RESTful API for Django</li>
                    <li>Pinax - Sane defaults for Django</li>
                    <li>Pymongo - MongoDB Backend for results</li>
                    <li>Celery - Queued job delivery</li>
                </ul>

            </div>
        {% else %}
            {% url account_login as login_url %}
            {% url account_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or
                <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
        {% endif %}
    {% endblock content %}

{% endblock %}
