{% load static %}
{% load url from future %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8"/>
    <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}
    {% endblock %}{% endblock %}</title>
    {% block viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block style_base %}
        <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
        {% block extra_style %}{% endblock %}
    {% endblock %}

    {% block html5shim %}
        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
                <script src="{% static "pinax/js/html5shiv.js" %}"></script>
            <![endif]-->
    {% endblock %}

    {% block extra_head_base %}
        {% block extra_head %}{% endblock %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">

{% block topbar_base %}
    <div class="navbar {% block navbar_class %}navbar-fixed-top{% endblock %}">
        <div class="navbar-inner">
            <div class="container-fluid">
                {% block topbar %}
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    {% block site_brand %}<a class="brand" href="{% url "home" %}">{{ SITE_NAME }}</a>{% endblock %}
                    <div class="nav-collapse">
                        {% block nav %}
                            {% comment %}
                                        <ul class="nav">
                                            <li><a href="#tab_one">One</a></li>
                                            <li><a href="#tab_two">Two</a></li>
                                        </ul>
                            {% endcomment %}
                        {% endblock %}
                        {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body_base %}
    <div class="container-fluid">
        {% include "_messages.html" %}
        {% block body %}
        {% endblock %}
    </div>
{% endblock %}

{% block footer_base %}
    <div id="footer">
        <div class="inner">
            <div class="container-fluid">
                {% block footer %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script_base %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    {% block extra_script %}{% endblock %}
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}
</body>
</html>