<div id="cart" class="well well-small sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header"><i class="icon icon-shopping-cart"></i>Shopping Cart</li>
		<div class="cartInfo"><span class="simpleCart_quantity"></span> items - <span class="simpleCart_total"></span></div>
		 <li class='divider'></li>
        <li class="nav-header">Actions</li>
        <li><a href="/cart/"><i class="icon icon-list-alt"></i>View Cart</a></li>
        <li><a href="javascript:;" class="simpleCart_checkout"><i class="icon icon-gift"></i>Checkout</a></li>
        <li><a href="javascript:;" class="simpleCart_empty"><i class="icon icon-trash"></i>Empty Cart</a></li>
    </ul>
</div>
