{% extends "rbase.html" %}

{% block extra_head %}
    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 40px;
        }
    </style>
{% endblock %}


{% block body_class %}Wine Details{% endblock %}

{% block body %}
    {% block content %}
        <div class="row-fluid">
            <div id="content" class="span12">
                {% if wine %}
                    <div>

                        <form class="form-horizontal span12">
                            <fieldset>
                                <legend>Wine Details</legend>
                                <br>

                                <div class="row">
                                    <div class="span8">
                                        <div class="control-group">
                                            <label for="name" class="control-label">Name:</label>

                                            <div class="controls">
                                                <input type="text" id="name" name="name" value="{{ wine.name }}">
                                                <span class="help-inline"></span>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label for="grapes" class="control-label">Grapes:</label>

                                            <div class="controls">
                                                <input type="text" id="grapes" name="grapes" value="{{ wine.grapes }}">
                                                <span class="help-inline"></span>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label for="country" class="control-label">Country:</label>

                                            <div class="controls">
                                                <input type="text" id="country" name="country"
                                                       value="{{ wine.country }}">
                                                <span class="help-inline"></span>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label for="region" class="control-label">Region:</label>

                                            <div class="controls">
                                                <input type="text" id="region" name="region" value="{{ wine.region }}">
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label for="year" class="control-label">Year:</label>

                                            <div class="controls">
                                                <select class="input-small" id="year" name="year"
                                                        value="{{ wine.year }}">
                                                    <option>2012</option>
                                                    <option>2011</option>
                                                    <option>2010</option>
                                                    <option>2009</option>
                                                    <option>2008</option>
                                                    <option>2007</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label for="description" class="control-label">Notes:</label>

                                            <div class="controls">
                                                <textarea id="description" name="description" style="width: 90%;"
                                                          rows="6">{{ wine.description }}</textarea>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="span4">
                                        <div class="well"
                                             style="width: 180px;text-align: center;width:50%;margin: 0px auto;">
                                            <p><img id="picture" width="180"
                                                    src="../../site_media/media/{{ wine.picture }}"></p>

                                            <p style="color:#999;">To change the picture, drag a new picture from your
                                                file system onto the box above.</p>
                                        </div>
                                    </div>

                                </div>

                            </fieldset>

                            <div class="form-actions">
                               <button type="button" onclick="javascript:;" class="btn btn-primary item_add">Order</button>
                                <a href="javascript: history.go(-1)" class="btn">Back</a>
                            </div>

                        </form>
                    </div>
                {% else %}
                    <p>No data available.</p>
                {% endif %}
            </div>
        </div>
    {% endblock %}
{% endblock %}
