{% extends "site_base.html" %}
{% load account_tags %}
{% load i18n %}
{% block head_title %}{% trans "Datasets" %}{% endblock %}

{% block extra_head %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/editor.css"/>

    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 40px;
            background: transparent url({{ STATIC_URL }}img/background.png);
        }

        .row-fluid {
            margin-left: -10px;
        }

        .sidebar-nav {
            padding: 2px 0;
        }
    </style>
{% endblock %}

{% block body_class %}dataset_list{% endblock %}

{% block body %}

    {% block content %}
        {% if user.is_authenticated %}
            <div class="hero-unit">
                <h5> {% user_display request.user %}'s Datasets:</h5>
                {% if dataset_list %}
                    <ul>
                        {% for dataset in dataset_list %}
                            <li><a href="{{ dataset.data.url }}">{{ dataset.data.name }} - Last
                                Modified: {{ dataset.modified }}</a></li>
                        {% endfor %}
                    </ul>

                {% else %}
                    <p>No datasets are available.</p>
                {% endif %}
                <!-- Upload form. Note enctype attribute! -->
                <form action="{% url list %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>{{ form.non_field_errors }}</p>

                    <p>{{ form.data.label_tag }} {{ form.data.help_text }}</p>

                    <p>
                        {{ form.data.errors }}
                        {{ form.data }}
                    </p>

                    <p><input type="submit" value="Upload"/></p>
                </form>
            </div>
        {% else %}
            {% url account_login as login_url %}
            {% url account_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or
                <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
        {% endif %}
    {% endblock content %}

{% endblock %}