{% extends "site_base.html" %}
{% load account_tags %}
{% load i18n %}
{% load jsonify %}
{% block head_title %}{% trans "Results" %}{% endblock %}

{% block extra_head %}
    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 40px;
            background: transparent url({{ STATIC_URL }}img/background.png);
        }

        .row-fluid {
            margin-left: -10px;
        }

        .sidebar-nav {
            padding: 2px 0;
        }
    </style>
{% endblock %}

{% block body_class %}result_pcord{% endblock %}

{% block body %}

    {% block content %}
        {% if user.is_authenticated %}
            <div class="hero-unit">
                <h5> {% user_display request.user %}'s Results:</h5>
                {% if result_list %}
                    <ul>
                        {% for result in result_list %}
                            <li><a href="/results/{{ result.id }}/">{{ result.uuid }} - Last
                                Modified: {{ result.modified }}</a></li>
                        {% endfor %}
                    </ul>

                {% else %}
                    <p>No results are available.</p>
                {% endif %}
            </div>
        {% else %}
            {% url account_login as login_url %}
            {% url account_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or
                <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
        {% endif %}
    {% endblock content %}

{% endblock %}