{% load crispy_forms_tags %}

<form class="well block-form" method="post" action="/block/{{ item.id }}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Editing Block</h3>
    </div>
    <div class="modal-body">
        {% csrf_token %}
        {{ form.as_p }} <!-- {{form|crispy}} if you use django-crispy-forms -->
    </div>
    <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Save"/>
        <input name="cancel" class="btn" type="submit" value="Cancel"/>
    </div>
</form>