<div>
    <script>
        var wid = '{{ workflow.id }}';
    </script>
    <h6>Blocks</h6>

    <div data-shape="workflow.LabeledStart" class="btn draw2d_droppable">Start</div>
    <div data-shape="workflow.LabeledEnd" class="btn draw2d_droppable">End</div>
    <div data-shape="workflow.LabeledBetween" class="btn draw2d_droppable">Between</div>
    <div id="toolbar"><h6>Tools</h6></div>
    <h6>Execute</h6>

    <div class="btn" onclick="Dajaxice.workbench.run(callback, {'text': wid })">Run</div>

    <script>
        function callback(data) {
            alert(data.message);
        }
    </script>
</div>