{% extends "site_base.html" %}
{% load account_tags %}
{% load i18n %}
{% block head_title %}{% trans "WorkFlows" %}{% endblock %}

{% block extra_head %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/editor.css"/>

    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 40px;
            background: transparent url({{ STATIC_URL }}img/background.png);
        }

        .row-fluid {
            margin-left: -10px;
        }

        .sidebar-nav {
            padding: 2px 0;
        }
    </style>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

    {% block content %}
        {% if user.is_authenticated %}
            <div class="hero-unit">
                <h5> {% user_display request.user %}'s Workflows:</h5>
                {% if workflow_list %}
                    <ul>
                        {% for workflow in workflow_list %}
                            <li><a href="/workflow/{{ workflow.id }}/">{{ workflow.name }} - Last
                                Modified: {{ workflow.modified }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No workflows are available.</p>
                {% endif %}
            </div>
        {% else %}
            {% url account_login as login_url %}
            {% url account_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or
                <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
        {% endif %}
    {% endblock content %}

{% endblock %}
