{% extends "site_base.html" %}
{% load i18n %}
{% load jsonify %}
{% load dajaxice_templatetags %}

{% block head_title %}{% trans "Editor" %}{% endblock %}

{% block extra_head %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/editor.css"/>

    <style type="text/css">
        body {
           
            background: transparent url({{ STATIC_URL }}img/background.png);
        }

      
    </style>

    <!-- Load the draw2d core library with the $LAB package manager -->
    <script>
        // set the absolute or relative path for the draw2d JS loader
        // this must happen before you include "draw2d.js"
        var draw2dPath = '{{ STATIC_URL }}';


        // load the blockmap queryset into a json object for loading later
        var blmap =
        {{ workflow.blockmap|jsonify }}


    </script>

    <SCRIPT src="{{ STATIC_URL }}lib/LAB.min.js"></SCRIPT>
    <SCRIPT src="{{ STATIC_URL }}src/draw2d.js"></SCRIPT>

    {% dajaxice_js_import %}
    <script type="text/javascript" src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>

    <script type="text/javascript">

        //var jsonDocument = blmap;

        // Called from draw2d if everything is loaded
        //
        function draw2dLoaded() {
            // load application specific stuff. This must happen in this hook,
            // otherwise the draw2d core isn't initialized or loaded at all.
            //
            $LAB.script("{{ STATIC_URL }}gui/Application.js")
                    .script("{{ STATIC_URL }}/gui/View.js")
                    .script("{{ STATIC_URL }}/gui/Toolbar.js")
                    .script("{{ STATIC_URL }}/gui/LabeledBetween.js")
                    .script("{{ STATIC_URL }}/gui/LabeledStart.js")
                    .script("{{ STATIC_URL }}/gui/LabeledEnd.js")

                    .wait(function () {
                        // Everything is loaded - core and application. Now can create the
                        // application
                        //
                        try {
                            //the document to load....in this case a simple JSON Object that we loaded earlier
                            //var jsonDocument = blmap;
                            //our workflow app
                            var app = new workflow.Application(blmap);
                        }
                        catch (error) {
                            console.log(error);
                        }
                    });

        }

    </script>

{% endblock %}

{% block body_class %}editor{% endblock %}

{% block body %}

    {% block content %}
        {% if user.is_authenticated %}
            <div id="sidebar" class="span1">{% include "workflow/workbench_sidebar.html" %}</div>
            <div class="span11">
            <div id="canvas"
                 style="background-color: #e1e1e1; width:1080px; height:580px;-webkit-tap-highlight-color: rgba(0,0,0,0); "></div>
            <div class="modal hide" id="blockModal"></div>
            <pre id="blockmap"
                 style="overflow:auto;position:absolute; top:50px; right:0px; width:0; height:0;background:white;border:1px solid gray visibility: none;">
                </pre>
            </div>
        {% else %}
            {% url account_login as login_url %}
            {% url account_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or
                <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
        {% endif %}

    {% endblock content %}

    // <script>
    // $(".contact").click(function(ev) { // for each edit contact url
    //     ev.preventDefault(); // prevent navigation
    //     var url = $(this).data("form"); // get the contact form url
    //     $("#contactModal").load(url, function() { // load the url into the modal
    //         $(this).modal('show'); // display the modal on url load
    //     });
    //     return false; // prevent the click propagation
    // });

    // $('.contact-form').live('submit', function() {
    //     $.ajax({ 
    //         type: $(this).attr('method'), 
    //         url: this.action, 
    //         data: $(this).serialize(),
    //         context: this,
    //         success: function(data, status) {
    //             $('#contactModal').html(data);
    //         }
    //     });
    //     return false;
    // });
</script>
{% endblock %}

{% block footer %}
{% endblock %}